<?xml version="1.0" encoding="utf-8"?>
%feed{:xmlns=>"http://www.w3.org/2005/Atom"}
  %title~ site_title
  %subtitle~ "***site subtitile***"
  %link{:href=>"***site_url/atom.xml***",:rel=>"self"}
  %link{:href=>"***site_url***"}
  %id~ "***siteurl/uniqueid***"
  %updated~ atom_time
  %author
    %name~ "***site author name***"
    %email~ "***site author email***"
  
  - posts[0...10].each do |post|
    %entry
      %title~ post.title
      %link{:href=>"***site url***"+post.file}
      %id~ "***site url***"+post.file
      %updated~ atom_date(post.date)
      %content{:type=>"html"}
        post.content
